.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0 50px 0;
  height: 100%;
  width: 100%;
  color: var(--white);
}
.screen-heading {
  font-size: 32px;
 
  font-family: "Poppins Bold";
  color: var(--primary);
}

.screen-subtitle {
  letter-spacing: 2px;
  margin: 8px 0 18px 0;
  font-size: 16px;
  color: var(--black);
}

.heading-separator {
  display: flex;
  align-items: center;
  position: relative;
  width: 180px;
  margin: 10px 0 0 0;
}

.separator-line {
  width: 100%;
  height: 2px;
  background-color: var(--light-blue-shadow);
}

.separator-blob {
  height: 10px;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
}

.separator-blob div {
  width: 35px;
  border-radius: 10px;
  background-color: var(--dark-orange);
}
