.aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
  }
  .aboutMeParent {
    max-width: 1000px;
    width:70%
    
  }
  .aboutMeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 0px 20px -2px #1f2235;
    
  }
  .aboutMeProfile {
    opacity: 0.5;
    width: 50%;
    background-image: url("../../assets/AboutMe/me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .aboutMeDetails {
    width: 48%;
    text-align: justify;
    padding: 30px;
  }
  .aboutMeDescription {
    font-size: 12px;
    margin: 80px 20px;
  }
  .aboutMeHighlights {
    margin: 80px 20px;
  }
  .highlightsHeading {
    font-family: "Poppins Bold";
    font-size: 14px;
    margin: 0 0 5px 0;
  }
  .highlights {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 12px;
  }
  .highlightsBlob {
    height: 12px;
    width: 12px;
    margin: 0 10px 0 0;
    background-color: #ff5823;
    border-radius: 50%;
  }

  
  .aboutMeOptions .highlighted-btn {
    margin: 0 0 0 30px;
  }
  
  @media only screen and (max-width: 1110px) {
    .aboutMeParent {
      width: 88%;
    }
  }
  @media only screen and (max-width: 898px) {
    .aboutMeProfile {
      display: none;
    }
    .aboutMeCard {
        display: flex;
        flex-direction: column;
      }
    .aboutMeOptions {
        display: flex;
        flex-direction: column;
      }
  }
  @media only screen and (max-width: 466px) {
    .aboutMeCard {
        display: flex;
        flex-direction: column;
      }
    .aboutMeOptions {
      display: flex;
      flex-direction: column;
    }
    .aboutMeOptions {
      margin: 24px 0 0 0 !important;
    }
    .aboutMeOptions .highlighted-btn {
        margin: 24px 0 0 0 !important;
    }
    .aboutMeOptions button {
      width: 80%;
      margin: 24px 10% 0 10% !important;
      
    }

    

    

  }