.header-container{
    display: flex;
    justify-content: center;
    height: 140px;
    color: var(--white);
}

.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    color: var(--white);
}

.header-logo {
    position: absolute;
    margin-left: auto;
    margin-top: 50px;
    background-image: url('../../../assets/Header/logo.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    opacity: 0.5;

    height: 40%;
    width: 8%;
    
}

.header-logo:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 2s ease-out;
}

.header-options{
    display: flex;
    align-items: center;
    /* height: 100%;
    width: 30%;
    color: var(--white); */
}
.header-option{
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 30px;
}
.header-hamburguer , .show-hamburguer-options{
    opacity: 0; 
    margin-top: 120px;
    font-size: 30px;
    color: var(--white);
}

/* .header-option-separator{
    margin: 0 50px 0 0px;
    color: var(--white);
} */

.selected-header-option {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-orange);
}

@media only screen and (max-width: 1100px){
    .header-parent{
       width: 80%;
    }
}
@media only screen and (max-width: 970px){
    .header-hamburguer{
        display: block;
        opacity: 1;
        margin: 0 40px;
       
    }
    .header-logo{
        display: none;
    }
    
    .header-parent{
        width: 100%;
        padding : 0 40px;
        position: relative;
    }

    .header-options{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
        top : 0px;
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        background-color: var(--blue);
        z-index: 1000;
        opacity: 0.8;    
        transition: all 0.8s ease-out;
    }
    .header-option-separator{
        margin:0;
    }
    .selected-header-option{
        color: var(--white)
    }

    .header-option{
        color: var(--white)
    }    
    
    .header-hamburguer-bars{
        font-size: 30px;
        cursor: pointer;
        margin: 0px 10px;
        color: var(--white);
    }

    .show-hamburguer-options{
        left: 0;
        opacity: 1;
    }
}